@page "/user/{topicName?}"
@using ClientServerCommon.Models;
@using ClientServerCommon.Models.Message;
@using Limp.Client.Cryptography;
@using Limp.Client.Cryptography.KeyStorage;
@using Limp.Client.HubInteraction;
@using Microsoft.AspNetCore.SignalR.Client;
@using ClientServerCommon.Models;
@using Limp.Client.HubInteraction;
@using Limp.Client.Utilities;
@using Microsoft.AspNetCore.SignalR.Client
@using Limp.Client.Pages;
@using Limp.Client.Cryptography.KeyStorage;
@inject NavigationManager Navigation
@inject IJSRuntime jS;
@inject ICryptographyService _cryptographyService
@inject IHubInteractor _hubInteractor
@implements IAsyncDisposable

<PageTitle>Chat with @topicName</PageTitle>

<div class="page-container">
    @if (!IsThereAnAESKey)
    {
        <KeyTransfer 
            IsThereAnAESKey=IsThereAnAESKey/>
    }
    else
    {
        <div class="header">
            <span>@topicName</span>
        </div>

        <div class="messages-box">
            @foreach (var message in messages)
            {
                bool isOutcoming = message.Sender == "You";
                string messageClass = isOutcoming ? "outcoming" : "incoming";
                <div class="message @messageClass">
                    <span>@message.Payload</span>
                </div>
                <div class="timestamp @messageClass">
                    <span>@message.DateSent.ToString("hh:mm")</span>
                    @if (message.IsReceived)
                    {
                        <span>R</span>
                    }
                </div>

            }
        </div>

        <div class="message-input-box">
            <input @bind="messageInput" />
            <button @onclick="SendMessage" disabled="@(!IsConnectedToMessageDispatcherHub || string.IsNullOrWhiteSpace(myName))">Send</button>
        </div>
    }
</div>

@code {
    [Parameter]
    public string topicName { get; set; }
    [Parameter]
    public string? myName { get; set; }
    private HubConnection? messageDispatcherHub;
    public bool IsConnectedToMessageDispatcherHub => messageDispatcherHub?.State == HubConnectionState.Connected;
    private HubConnection? usersHub;
    private List<Message> messages { get; set; } = new();
    private string messageInput = string.Empty; 
    private string myConnectionId { get; set; } = string.Empty;
    private List<UserConnections> userConnections { get; set; } = new();
    private string accessToken = string.Empty;
    private bool IsThereAnAESKey { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        GetAESKeyForConversation();
        accessToken = await jS.InvokeAsync<string>("localStorage.getItem", "access-token");

        await ConnectToHubsAsync(accessToken);

        LoadPreviousMessagesForThisTopic();
    }

    private void GetAESKeyForConversation()
    {
        IsThereAnAESKey = InMemoryKeyStorage.AESKeyStorage.Any(x => x.Key == topicName);
        if(IsThereAnAESKey == false)
        {
            _cryptographyService.GenerateAESKeyAsync(topicName, (() => IsThereAnAESKey = true));
        }
    }

    private async Task ConnectToHubsAsync(string accessToken)
    {
        ThrowErrorIfHubInteractorIsNull();

        usersHub = await _hubInteractor!.ConnectToUsersHubAsync(accessToken);

        messageDispatcherHub = await _hubInteractor.ConnectToMessageDispatcherHubAsync(accessToken, OnMessageReceived, OnUsernameResolve, onMessageReceivedByRecepient);
    }

    private void onMessageReceivedByRecepient(Guid messageId)
    {
        Message? receivedMessage = messages.FirstOrDefault(x => x.Id == messageId);
        if(receivedMessage != null)
        {
            receivedMessage.IsReceived = true;
            StateHasChanged();
        }
    }

    private void LoadPreviousMessagesForThisTopic()
    {
        if (string.IsNullOrWhiteSpace(topicName))
        {
            throw new ApplicationException("Chat topic name was not resolved, could not messages from this topic.");
        }

        ThrowErrorIfHubInteractorIsNull();

        var messagesFromMessageBox = HubInteractor.LoadStoredMessages(topicName);
        messages.AddRange(messagesFromMessageBox);
    }

    private void ThrowErrorIfHubInteractorIsNull()
    {
        if (_hubInteractor == null)
        {
            throw new ApplicationException("Could find acceptable hub interactor entity.");
        }
    }

    private void onConnectionIdReceive(string connectionId)
    {
        myConnectionId = connectionId;
        StateHasChanged();
    }

    private void onOnlineUsersReceive(List<UserConnections> usersConnectedData)
    {
        userConnections = usersConnectedData;
    }

    private void OnUsernameResolve(string username)
    {
        myName = username;
        StateHasChanged();
    }

    private void OnMessageReceived(Message message)
    {
        messages.Add(message);
        StateHasChanged();
    }

    private async Task SendMessage()
    {
        if (string.IsNullOrWhiteSpace(messageInput))
            return;

        Message messageToSend = new Message
        {
            Payload = messageInput,
            DateSent = DateTime.UtcNow,
            TargetGroup = topicName!,
            Sender = myName ?? throw new ApplicationException("Message was not send"),
        };

        await _hubInteractor.SendMessage(messageToSend);

        messageInput = string.Empty;
    }

    public async ValueTask DisposeAsync()
    {
        if(_hubInteractor != null)
        {
            await _hubInteractor.DisposeAsync();
        }
    }
}
